<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="mscorlib.resources" publicKeyToken="b77a5c561934e089"
								  culture="us" />
				<!-- change this to your language -->

				<bindingRedirect oldVersion="1.0.0.0-999.0.0.0" newVersion="999.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Xml.resources" publicKeyToken="b77a5c561934e089"
								  culture="us" />
				<!-- change this to your language -->

				<bindingRedirect oldVersion="1.0.0.0-999.0.0.0" newVersion="999.0.0.0"/>
			</dependentAssembly>

			<!-- add other assemblies and other languages here -->

		</assemblyBinding>
	</runtime>
	
</configuration>